<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">


  <Appenders>
    <Lambda name="Lambda">
      <PatternLayout>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %-5p %c{1} - %m%n</pattern>
      </PatternLayout>
    </Lambda>

<!--    <Console name="Console" target="SYSTEM_OUT">-->
<!--      <PatternLayout>-->
<!--        <Pattern>-->
<!--          %style{%d{ISO8601}}{dim} %highlight{%5level} %style{%pid{-}}{magenta} %style{-&#45;&#45;}{dim} %style{[%15.15t]}{dim} %style{%c}{blue} %style{:}{dim} %highlight{%m%n%throwable}-->
<!--        </Pattern>-->
<!--      </PatternLayout>-->
<!--    </Console>-->
  </Appenders>

  <Loggers>
    <Logger name="software.amazon.awssdk" level="warn" additivity="false" />
    <Logger name="software.amazon.awssdk.request" level="debug" additivity="false" />
<!--    <Logger name="gov.noaa.ncei" level="debug" additivity="false">-->
<!--      <AppenderRef ref="Console"/>-->
<!--    </Logger>-->
    <Root level="info">
      <AppenderRef ref="Lambda"/>
    </Root>
  </Loggers>

</Configuration>